include ../partials/head
include ../partials/header
main#error_page
	section
		h2 404
		h3 Page introuvable
		p Veuillez vous rediriger vers la #[a(href="/") Page d'accueil]
include ../partials/footer