include ../partials/head
include ../partials/header
main#404
	section
		h2 404
		h3 Page introuvable
		p Veuillez vous rediriger vers l'accueil : 
		a(href="/") Page d'accueil
include ../partials/footer