include ../partials/head
include ../partials/header
main#index
	section#slideshow
		h2 Bienvenue à 
			b MexsiBocou
		ul
			//- each slide in slideshows
			//- 	li(style="background-image:url(slide.url)")
			//- 		h2= slide.title
			//- 		p= slide.description
			//- else
			li
				h3 Bienvenue à Votre Restaurant!
				p Nous vous accueillons #[b chaleureusement] tous les jours de la semaine pour un repas aussi bon que budgétaire!
include ../partials/footer