include ../partials/head
include ../partials/header
main#index
	section#news
		h2 Bienvenue #{name}
		ul.video_list
			li Test
			li Test
			li Test
			li Test
			li Test
			li Test
			li Test
			li Test
			li Test

include ../partials/footer