include ../partials/head
include ../partials/header
main#register
	section
		h2 Inscription
		form#register_form.formulaire
			div.form-group
				label(for="mail") Email #[sup *]
				input(type="email" name="mail" id="mail" required)
			div.form-group
				label(for="pseudo") Identifiant #[sup *]
				input(type="text" name="pseudo" id="pseudo" required)
			div.form-group
				label(for="password") Mot de passe #[sup *]
				input(type="password" name="password" id="password" required)
			div.form-group
				label(for="password_verif") Vérification Mot de passe #[sup *]
				input(type="password" name="password_verif" id="password_verif" required)
			input#conditions(type="checkbox" required name="conditions")
			label(for="conditions") J'accepte les conditions générales d'utilisation
			ul#error
			a.btn-other(href="/login") J'ai un compte
			button(type="submit") #[span.lnr.lnr-location] S'inscrire
include ../partials/footer