header
	h1 
		a(href="/") Videyo
	if logged && logged === true
		form#search
			input#query(type="text" name="query" placeholder="Rechercher..." autofocus)
			button(type="submit") #[span.lnr.lnr-magic-wand]
			ul#results_query.hidden
		nav
			ul
				li
					a(href="#") #[span.lnr.lnr-user] Mon Compte
					ul.submenu
						li
							a(href="#") #[span.lnr.lnr-camera-video] Mettre vidéo en ligne
							a(href="#") #[span.lnr.lnr-menu-circle] Mes Playlists
							a(href="#") #[span.lnr.lnr-link] Mes Abonnements
							a(href="#") #[span.lnr.lnr-cog] Mes informations
							a(href="/logout") #[span.lnr.lnr-power-switch] Déconnexion