html{
	font-size:62.5%;

	*{
		@include box-sizing(border-box);
	}

	body{
		font-family: $font_general;
		font-size: 1.6rem;
		color: $black;
		background-color: $white;
		margin-top:5rem;

		main{
			display: block;
			padding: 1rem 2rem;
			overflow: auto;

			h2{
				font-size: 2rem;
				color:$blue;
				position:relative;
				padding:2rem 0 1rem 0;
				margin-bottom: 2rem;

				&:after{
					content:'';
					display: block;
					width:10rem;
					border-bottom:1px solid $yellow;
					position:absolute;
					bottom:0;
					left:0;
				}
			}
		}
	}
}